body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  #App {
    margin: auto;
    width: 60%;
    border-style: double;
    border-radius: 5px;
    border-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
  }

  #Credits {
    font-size: x-small;
    padding-top: 10px;
    text-align: center;
  }

  .Intro {
    padding-left: 20px;
    padding-right: 20px;
  }

  .gallery-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  /* .galleries-list, .artwork-list, .art-box, .gallery-box { 
    padding-left: 30px;
  }

  #art-form, #gallery-form {
    padding-left: 30px;
   
  } */